$cor-primaria: #3346ee;
$cor-primaria-hover: #2131bb;
$cor-upload: #F5F5F5;
$branco: #FFFFFF;
$branco-borda: #ddd;
$box-shadow: rgba(0, 0, 0, 0.1);
$background: rgb(234, 234, 234);
$background-vazado: rgba(199, 199, 199, 0.815);
$validation-error: #dc3545;
$delete:#dc3545;
$delete-hover:#b31b2a;
$text-empty: #888;
$color-p: #686868;
$color-span:#535353;
$color-span-hover:#030303;
$verde:#28a745;