@import 'paleta';
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
}
/* You can add global styles to this file, and also import other style files */
.spinner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid $branco;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

.spinner-lg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid $cor-primaria;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .spinner-sm {
    margin-top: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #FFF;
    border-right: 1px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%);
  }

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
